body{
    background-color: aqua;
}
.contenedor{
    background-color: white;
    margin: auto;
    width: 1024px;
    height: 768px;
}
.caja1{
    width: 350px;
    height: 100px;
    background-color: pink;
    margin-left: 150px
}
.caja2{
    width: 450px;
    height: 250px;
    margin-top: 200px;
    margin-right: 80px;
    margin-bottom: 50px;
    background-color: blueviolet;
}
.caja3{
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin: auto;
}