.contenedor{
    width:1280px;
    height:800px;
    background-color:#1eaaf1;
}
header{
    width:1280px;
    height:200px;
    background-color:#35b736;
}
nav{
    width:1280px;
    height:50px;
    background-color :#fee94e;
}
main{
    width:1280px;
    height:500px;
    background-color:#e2202c;
}
.anucio1{
    width:300px;
    height:250px;
    background-color:#fd9727;
    margin-left:980px;
    margin-top:-500px;
}
.anucio2{
    width:300px;
    height:250px;
    background-color:#666666;
    margin-left:980px;
}
footer{
    width:1280px;
    height:53px;
    background-color:#9a2fae;
}