
h2{
    color:orange; font-weight:bold;
    font-family:arial,helvetica, sans-serif;
}
hr{
    width:50%;
    height:30px;background-color:aqua;
}
h3{
    color:blue;
    font-weight:bolder;
}
p{
    font-style:italic;
    color:olive;
    font-weight:bold;
}